@model PagedList<t_paratype>
<table class="table table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th>参数名称</th>
            <th>参数编码</th>
            <th>创建时间</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.p_name</td>
                <td>@row.p_code</td>
                <td>@row.p_createtime.GetValueOrDefault().ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@row.p_describ</td>
                <td>
                    @Html.ActionLink("编辑", "ParaInfo", new { id = row.p_id }, htmlAttributes: new { @class = "btn btn-default btn-sm" })<text>&nbsp;</text>
                    <a asp-action="ParaDeleted" asp-route-id="@row.p_id" data-ajax-confirm="确认要删除么？" data-ajax-complete="onComplate" data-ajax-method="Post" class="btn btn-danger btn-sm">删除</a><text>&nbsp;</text>
                    @Html.ActionLink("值配置", "ValueList", new { id = row.p_id }, htmlAttributes: new { @class = "btn btn-default btn-sm" })
                </td>
            </tr>

        }
    </tbody>
</table>