@model t_para_values
@{
    ViewBag.Title = "参数值列表";

    var list = ViewBag.ValueList as List<t_para_values> ?? new List<t_para_values>();
}



<div class="container-padding">
    <!-- Start Page Header Right Div -->
    <div class="page-header">
        <h1 class="title">@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li class="active">系统中使用的参数配置，错误的操作可能会对系统的正常运行产生影响，请谨慎操作。</li>
        </ol>
        <div class="right">
            <a href="@Url.Action("Index","Para")" class="btn btn-default">返回列表</a>
        </div>
    </div>
    <!-- End Page Header Right Div -->
    <!-- Start Row -->
    <div class="row">
        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    添加新值
                </div>
                <div class="panel-body">

                    <form asp-action="ValueSave" class="form-inline" method="post">
                        @Html.Hidden("p_pid", ViewData["Tid"])
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.p_value, new { @class = "form-control", placeholder = "参数名称" })
                            @Html.ValidationMessageFor(a => a.p_value)
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(a => a.p_code, new { @class = "form-control", placeholder = "参数编码" })
                            @Html.ValidationMessageFor(a => a.p_code)

                        </div>


                        <div class="form-group">
                            @Html.TextBoxFor(a => a.p_sort, new { @class = "form-control", placeholder = "排序" })
                            @Html.ValidationMessageFor(a => a.p_sort)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.p_attribute1, new { @class = "form-control", placeholder = "备用1" })
                            @Html.ValidationMessageFor(a => a.p_attribute1)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.p_attribute2, new { @class = "form-control", placeholder = "备用2" })
                            @Html.ValidationMessageFor(a => a.p_attribute2)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.p_attribute3, new { @class = "form-control", placeholder = "备用3" })
                            @Html.ValidationMessageFor(a => a.p_attribute3)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.p_attribute4, new { @class = "form-control", placeholder = "备用4" })
                            @Html.ValidationMessageFor(a => a.p_attribute4)
                        </div>
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-default"><i class="fa fa-plus"></i>添加</button>

                        </div>
                        <div style="color:red;">
                            @Html.ValidationSummary(true)
                        </div>
                    </form>

                </div>
            </div>
            <div id="dataTable">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>参数名称</th>
                            <th>参数编码</th>
                            <th>排序</th>
                            <th>创建时间</th>
                            <th>备用1</th>
                            <th>备用2</th>
                            <th>备用3</th>
                            <th>备用4</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in list)
                        {
                            <tr>
                                <td>@row.p_value</td>
                                <td>@row.p_code</td>
                                <td>@row.p_sort</td>
                                <td>@row.p_createtime.GetValueOrDefault().ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td>@row.p_attribute1</td>
                                <td>@row.p_attribute2</td>
                                <td>@row.p_attribute3</td>
                                <td>@row.p_attribute4</td>
                                <td>
                                    <a asp-action="ChildDelete" asp-route-id="@row.p_id" data-ajax-confirm="确认要删除么？" data-ajax-complete="onComplate"  data-ajax="true"  data-ajax-method="Post" class="btn btn-danger btn-sm">删除</a><text>&nbsp;</text>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
        </div>

        <!-- End Panel -->
    </div>
    <!-- End Row -->
</div>
@section js
    {   
    <script type="text/javascript">
        function onComplate(obj) {
            if (obj.success) {
                toastr.success("操作成功！");
                window.location.reload();
                //操作成功，
            }

            else {
                toast.error("操作失败！");

            }
        }
    </script>
}