@model t_module
@{
    ViewBag.Title = "菜单操作";
}
<!-- Start Page Header -->
<div class="page-header">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="@Url.Action("Index","Menu")">菜单列表</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
  <div class="right">
      <a href="@Url.Action("Index","Menu")" class="btn btn-default">返回列表</a>
  </div>

</div>
<!-- End Page Header -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding">
    <!-- Start Row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    菜单信息管理
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("MenuSave", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(a => a.p_id)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">上级菜单</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(a => a.p_parentid, ViewData["p_parentid"] as SelectList)
                                @*@Html.TextBoxFor(a => a.p_parentid, new { @class = "form-control" })*@
                                @Html.ValidationMessageFor(a => a.p_parentid)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">菜单名称</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(a => a.p_name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.p_name)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">相对路径</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(a => a.p_relativeurl, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.p_relativeurl)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">图标</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(a => a.p_icon, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.p_icon)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">描述</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(a => a.p_describe, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.p_describe)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">排序</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(a => a.p_sort, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.p_sort)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">是否启用</label>
                            <div class="col-sm-10">
                                <div class="radio radio-info radio-inline">
                                    @Html.RadioButtonFor(a => a.p_enabled, true, new { @id = "Statusradio2" }) <label for="Statusradio2">启用</label>
                                </div>
                                <div class="radio radio-warning radio-inline">
                                    @Html.RadioButtonFor(a => a.p_enabled, false, new { @id = "Statusradio3" })<label for="Statusradio3">禁用</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">保存</button>
                            </div>
                        </div>

                        <div style="color:red;">
                            @Html.ValidationSummary()
                        </div>

                    }

                </div>

            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- END CONTAINER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
